<div class="card">
  <div class="card-body">
    <div class="input-group">
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Escriba una tarea"
        [(ngModel)]="task"
        (keyup.enter)="saveTask()"
      />
      <div class="input-group-append">
        <button
          type="button"
          class="btn btn-success btn-lg"
          [disabled]="task == ''"
          (click)="saveTask()"
        >
          Agregar
        </button>
      </div>
    </div>
    <h6 class="display-6 text-center my-3" *ngIf="listTask.length === 0">No hay tareas por realizar</h6>
    <ul>
      <li
        *ngFor="let task of listTask; index as i"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span (click)="updateStatusTask(i)">
          <i class="far fa-circle" *ngIf="!task.status"></i>
          <i class="fas fa-check-circle text-success" *ngIf="task.status"></i>
        </span>
        {{ task.name }}
        <span class="text-danger" (click)="deleteTask(i)">
          <i class="fas fa-trash-alt"></i>
        </span>
      </li>
    </ul>
  </div>
</div>
