<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <h5>BIM CALCULATOR</h5>
      <div class="row alturaCaja">
        <div class="col-6">
          <div
            class="fondo-item"
            [ngClass]="{ sexoDesactivo: sex === 'Femenino' }"
          >
            <div
              class="contenedor"
              style="cursor: pointer"
              (click)="changeSex('Masculino')"
            >
              <i class="fas fa-mars sexo"></i>
              <p>Masculino</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div
            class="fondo-item"
            [ngClass]="{ sexoDesactivo: sex === 'Masculino' }"
          >
            <div
              class="contenedor"
              style="cursor: pointer"
              (click)="changeSex('Femenino')"
            >
              <i class="fas fa-venus sexo"></i>
              <p>Femenino</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row alturaCaja">
        <div class="col-12">
          <div class="fondo-item">
            <div class="contenedor">
              <p>Altura</p>
              <div class="estiloNumero">
                {{ height }} <span class="cm">cm</span>
              </div>
              <input
                type="range"
                [value]="height"
                min="120"
                max="220"
                class="custom-range"
                (input)="changeHeight($event)"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row alturaCaja">
        <div class="col-6">
          <div class="fondo-item">
            <div class="contenedor">
              <p>Peso</p>
              <div class="estiloNumero">{{ weight }}</div>
              <div>
                <i
                  class="fas fa-minus sumaResta"
                  (click)="weight = weight - 1"
                ></i>
                <i
                  class="fas fa-plus sumaResta"
                  (click)="weight = weight + 1"
                ></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="fondo-item">
            <div class="contenedor">
              <p>Edad</p>
              <div class="estiloNumero">{{ age }}</div>
              <div>
                <i class="fas fa-minus sumaResta" (click)="age = age - 1"></i>
                <i class="fas fa-plus sumaResta" (click)="age = age + 1"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <button
          (click)="calc()"
          class="btn btn-primary btn-block btn-lg btn-color"
        >
          CALCULAR
        </button>
      </div>
    </div>
  </div>
</div>
