<form>
  <mat-form-field appearance="standard">
    <mat-label>Names</mat-label>
    <input matInput placeholder="Jhon Doe">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Email</mat-label>
    <input matInput placeholder="jhon.doe@example.com">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Position</mat-label>
    <mat-select>
      <mat-option value="option1">Option 1</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Phone</mat-label>
    <input matInput placeholder="+1 545 623 845">
  </mat-form-field>
  <button mat-raised-button color="primary">Send</button>
</form>