<!-- <audio controls>
  <source src="../assets/sounds/note3.wav">
</audio> -->

<div class="container">
  <section class="piano">
    <div (click)="sound(1)" class="key black"></div>
    <div (click)="sound(2)" class="key white"></div>
    <div (click)="sound(3)" class="key black"></div>
    <div (click)="sound(4)" class="key white"></div>
    <div (click)="sound(5)" class="key black"></div>
    <div (click)="sound(6)" class="key white"></div>
    <div (click)="sound(7)" class="key black"></div>
  </section>
</div>