<div class="field">
  <label class="label">Ingrese el cantidad</label>
  <div class="control">
    <input
      class="input"
      type="number"
      placeholder="5.000.000"
      [(ngModel)]="quality"
      (input)="convert()"
    />
  </div>
</div>
<div class="field is-horizontal mt-5">
  <div class="field-body">
    <div class="field is-expanded">
      <label class="label">Ingrese el cantidad</label>
      <div class="select is-fullwidth">
        <select [(ngModel)]="own" (change)="convert()">
          <option *ngFor="let money of listConis" [value]="money.name">
            {{ money.description }}
          </option>
        </select>
      </div>
    </div>
    <div class="field is-expanded">
      <label class="label">Ingrese el cantidad</label>
      <div class="select is-fullwidth">
        <select [(ngModel)]="want" (change)="convert()">
          <option *ngFor="let money of listConis" [value]="money.name">
            {{ money.description }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
<p class="title is-4 mt-5 has-text-centered" *ngIf="quality">
  {{ quality | number: "0.2-2" }} {{ own }} son {{ total | number: "0.2-2" }}
  {{ want }}
</p>
