<div class="container mt-5 pt-2">
  <div class="row">
    <div class="col-md-8">
      <input
        type="text"
        placeholder="https://google.com"
        class="form-control"
        [(ngModel)]="urlOrigin"
      />
    </div>
    <div class="col-md-4">
      <button
        class="btn btn-dark btn-block"
        [disabled]="!urlOrigin"
        (click)="transform()"
      >
        {{ buttonLabel }}
      </button>
    </div>
    <div class="col-md-12 mt-5" *ngIf="urlResult">
      <input type="text" class="form-control" [(ngModel)]="urlResult" />
    </div>
  </div>
</div>
